{% extends "layout.html" %}

{% block content %}

<div>
	<h3>Enter Pairs</h3>
	<!-- POST form -->
	<form action="http://localhost:8000/stock2" method="POST">
  		<input type="text" name="symbol" value="GOOGL" />
  		<input type="submit" />
	</form>
	<p> submit multiple times for multiple pairs</p>
</div>

<div>
	<h3> Filter </h3>
	<!-- for fiktering -->
	<input type="text" placeholder="P/E"/>
	<input type="text" placeholder="Div Yield" />
	<input type="checkbox"> <label> Above 50 day </label>
	<input type="checkbox"> <label> Above 200 day </label>
	<button> Filter </button>
</div>

<div>
	<table>
		<thead>
			<tr>
				<th>Symbol</th>
				<th>P/E</th>
				<th>Dividend Yield</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>val1</td>
				<td>val2</td>
				<td>val3</td>
			</tr>
			<tr>
				<td>val4</td>
				<td>val5</td>
				<td>val6</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
