{% extends "layout.html" %}

{% block content %}

<div>
	<h3>Enter Stocks</h3>
	<!-- POST Data -->
	
	<input type="text" id="symbols" placeholder="AAPL,GOOGL,FB">
	<input type="button" onclick="submit_post()" value="submit">
	<p id="result">separate symbols by comas</p>

	
	
	<script>
	
		function submit_post(){
			symbols_comas = document.getElementById("symbols").value.replace(/\s/g, "")
			symbols_lst = symbols_comas.split(",")
			for (let i=0; i<symbols_lst.length; i++){
				
				/*
				// jquery used only for POST. can use axios as well.
				$.ajax({
        	url: '/stock',
        	type: 'POST',
        	contentType: 'application/json',
        	data: JSON.stringify({ "symbol": symbols_lst[i] }),
        	dataType: 'json'
      	});
      	*/
      	
      	// axios used. same but rich features
      	axios.post('/stock', {
    			symbol: symbols_lst[i]
  				})
  				.then(function (response) {
  					// console.log(response)
    				// document.getElementById('result').innerHTML = response
  				})
			}
		}
		
	</script>
</div>

<div>
	<h3> Filter </h3>
	<!-- for fiktering -->
	<input type="text" placeholder="P/E"/>
	<input type="text" placeholder="Div Yield" />
	<input type="checkbox"> <label> Above 50 day </label>
	<input type="checkbox"> <label> Above 200 day </label>
	<button> Filter </button>
</div>

<div>
	<table>
		<thead>
			<tr>
				<th>Symbol</th>
				<th>P/E</th>
				<th>Dividend Yield</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>val1</td>
				<td>val2</td>
				<td>val3</td>
			</tr>
			<tr>
				<td>val4</td>
				<td>val5</td>
				<td>val6</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
